.App {
  text-align: center;
  font-size: 2em;

}

.Navbar {
  background-color: rgb(224, 221, 221);
  display: flex;
  justify-content: space-around;
}

a {
  text-decoration: none;
}


.App-link {
  color: #61dafb;
}


